<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$title$ - Effusion</title>
  <link rel="preload" href="/fonts/firacode/FiraCode-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/css/default.css">
  <link rel="alternate" type="application/atom+xml" href="/atom.xml">
</head>

<body>
  $partial("partials/nav.html")$

  $partial("partials/header.html")$

  <main>
    <div>
      <article>
        $body$
      </article>
    </div>
  </main>

  $partial("partials/footer.html")$
</body>

</html>